.footer-section{
    border-top: 1px solid rgba(17, 17, 17, 0.1);
}
.footer-inner{
    padding: 28px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #444444;
        margin-bottom: 0px;
    }
    a{
        margin-left: 20px;
    }
}